// Styling for the work experience list
.experience .experience-item {
  .experience-item-image {
    margin: 0;
    padding: 0;
    max-width: 9rem;
  }
  .experience-item-caption {
    .experience-item-caption-title {
      font-size: 1.2rem;
      color: $secondary;
    }
    .experience-item-caption-description {
      font-size: 1.2rem;
    }
  }
}
