.masthead {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
        url('../assets/img/masthead/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    padding-top: calc(14rem + 50px);
    padding-bottom: 14rem;

    .masthead-heading {
        font-size: 2.75rem;
        line-height: 2.75rem;
    }

    .masthead-subheading {
        font-size: 1.5rem;
    }
}

@include media-breakpoint-up(lg) {
    .masthead {
        padding-top: calc(14rem + 70px);
        padding-bottom: 14rem;
        .masthead-heading {
            font-size: 4rem;
            line-height: 3.5rem;
        }

        .masthead-subheading {
            font-size: 2.25rem;
            line-height: 3.5rem;
        }
    }
}
