.projects {
    .project-item {
        cursor: pointer;
        position: relative;
        display: block;
        max-width: 25rem;
        border-radius: $border-radius;
        overflow: hidden;

        .project-item-caption {
            position: absolute;
            top: 0;
            left: 0;
            transition: $transition-base;
            opacity: 0;
            background-color: fade-out($primary, .1);

            &:hover {
                opacity: 0.5;
            }
        }
    }
}

// Styling for project modals
.project-modal {
    .btn-close {
        color: $primary;
        font-size: 2rem;
        padding: 1rem;
    }

    .project-modal-title {
        font-size: 2.25rem;
        line-height: 2rem;

        @include media-breakpoint-up(lg) {
            font-size: 3rem;
            line-height: 2.5rem;
        }
    }

    .project-modal-description {
        font-size: 1rem;

        @include media-breakpoint-up(lg) {
            font-size: 1.3rem;
        }
    }
}

// Styling for project pages
.project-masthead {
    background: linear-gradient(#bbb, #000);
    padding-top: calc(5rem + 50px);
    padding-bottom: 5rem;
    .project-masthead-icon {
        border-radius: 10px;
    }
    .project-masthead-heading {
        font-size: 2rem;
        line-height: 2.75rem;
    }
    .project-masthead-dates {
        font-size: 1.75rem;
    }
    .project-masthead-summary {
        font-size: 1.25rem;
    }
}

@include media-breakpoint-up(lg) {
    .project-masthead {
        padding-top: calc(5rem + 70px);
        padding-bottom: 5rem;
        .project-masthead-heading {
            font-size: 3rem;
            line-height: 3.5rem;
        }
        .project-masthead-dates {
            font-size: 2rem;
        }
        .project-masthead-summary {
            font-size: 1.5rem;
        }
    }
}
