section#about.page-section.about
    .container
        .row
            .col-lg-4.offset-lg-1.col-md-6.offset-md-3.mb-5
                img.about-avatar.img-fluid(src='assets/img/avatar.png', alt='')
            .col-lg-6.offset-lg-0.col-md-8.offset-md-2
                p.about-description
                    | Hi, I'm Michael.
                    br
                    | I'm a Systems Design Engineering undergrad student passionate about applying software to tackle real-world issues. I'm always looking for new ways to challenge myself.
        .mt-5.text-center
            a.btn.btn-xl.btn-secondary(href='/resources/Resume.pdf', target='_blank')
                i.far.fa-file-alt.mr-2
                .
                    View Resume
