section#experience.page-section.experience

    include mixin/experience.pug

    .container
        // Experience Section Heading
        h2.page-section-heading.text-center.text-uppercase Experience
        // Icon Divider
        .divider-custom
        .row.justify-content-center
            +experience()
            +experience()
            +experience()
            +experience()
            +experience()
            +experience()
