footer.footer.text-center.bg-primary.py-5
    a.btn.btn-outline-light.btn-social.mx-1(href='https://www.linkedin.com/in/michaelaeden/')
        i.fab.fa-fw.fa-linkedin-in
    a.btn.btn-outline-light.btn-social.mx-1(href='mailto:maeden@uwaterloo.ca')
        i.far.fa-fw.fa-envelope
    a.btn.btn-outline-light.btn-social.mx-1(href='https://github.com/michaelaeden')
        i.fab.fa-fw.fa-github
