header.masthead.text-white.text-center

    include mixin/divider.pug

    .container.d-flex.align-items-center.flex-column
        // Masthead Heading
        h1.masthead-heading.text-uppercase.m-0 Michael Eden

        +divider()

        // Masthead Subheading
        p.masthead-subheading.font-weight-light.m-0 Systems Design Engineering
