nav#mainNav.navbar.navbar-expand-lg.bg-primary.text-uppercase.fixed-top
    .container
        button.navbar-toggler.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            | Menu
            i.fas.fa-bars
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item.mx-0.mx-lg-1
                    a.nav-link.py-3.px-0.px-lg-3(href='#portfolio') Portfolio
                li.nav-item.mx-0.mx-lg-1
                    a.nav-link.py-3.px-0.px-lg-3(href='#about') About
                li.nav-item.mx-0.mx-lg-1
                    a.nav-link.py-3.px-0.px-lg-3(href='#contact') Contact
