section#portfolio.page-section.portfolio

    include mixin/project.pug
    include mixin/divider.pug

    .container
        // Portfolio Section Heading
        h2.page-section-heading.text-center.text-uppercase.mb-0 Portfolio
        +divider()
        // Portfolio Grid Items
        .row.justify-content-center
            +project()
            +project()
            +project()
            +project()
            +project()
            +project()
