section#projects.page-section.projects

    include mixin/project.pug
    include mixin/divider.pug

    .container
        h2.page-section-heading.text-center.text-uppercase.mb-0 Projects
        +divider()
        .row.justify-content-center
            +project()
            +project()
            +project()
            +project()
            +project()
            +project()
