extends layouts/layout.pug

block prepend head
    - let title = 'Michael Eden';

block content
    include includes/nav.pug
    include includes/masthead.pug
    include includes/about.pug
    include includes/experience.pug
    include includes/projects.pug
