doctype html
html(lang='en')

    include includes/head.pug

    body#page-top

        include includes/nav.pug
        include includes/masthead.pug
        include includes/about.pug
        include includes/experience.pug
        include includes/projects.pug
        include includes/footer.pug

        // Portfolio Modals
        include includes/mixin/modal.pug
        +modal()
        +modal()
        +modal()
        +modal()
        +modal()
        +modal()

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
