extends layouts/project.pug

block prepend head
    - let title = 'Secure Safe';

block prepend content
    - 
        let options = {
            image: 'assets/img/projects/securesafe.png',
            name: 'Secure Safe',
            dates: 'Summer 2017',
            description: 'An Arduino-powered safe which keeps your belongings secure.',
            link: 'https://github.com/MichaelAEden/Secure-Safe',
            demo: 'https://www.youtube.com/embed/0_BsGFfM_K8',
        };
