.about .about-item {
  .about-item-image {
    max-width: 12rem;
  }
  .about-item-description {
    font-size: 1.2rem;
  }
  @include media-breakpoint-up(lg) {
    .about-item-image {
      max-width: 16rem;
    }
  }
}
