// Styling for the work experience list
.experience .experience-item {
  .experience-item-image {
    padding: 4rem 2rem;
  }
  .experience-item-caption {
    .experience-item-caption-title {
      color: $secondary;
    }
    .experience-item-caption-dates {
      color: $tertiary;
    }
    .experience-item-caption-description {
      font-size: 1.2rem;
    }
  }
}
