// Styling for the work experience list
.experience .experience-item {
  .experience-item-image {
    background: $secondary;
    max-width: 20rem;
    margin-bottom: 5rem;
    border-radius: $border-radius;
    overflow: hidden;
    padding: 2rem;
  }
  .experience-item-caption {
    .experience-item-caption-title {
      color: $secondary;
    }
    .experience-item-caption-dates {
      color: $light-grey;
    }
    .experience-item-caption-description {
      font-size: 1.2rem;
    }
  }
}
