doctype html
html(lang='en')
  head
    block head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='author', content='Michael Eden')
        meta(name='description', content='My personal website')

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

        title #{title}

  body
    block content

    block footer
        footer.footer.text-center.bg-primary.py-5
            a.btn.btn-outline-light.btn-social.mx-1(href='https://www.linkedin.com/in/michaelaeden/')
                i.fab.fa-fw.fa-linkedin-in
            a.btn.btn-outline-light.btn-social.mx-1(href='mailto:maeden@uwaterloo.ca')
                i.far.fa-fw.fa-envelope
            a.btn.btn-outline-light.btn-social.mx-1(href='https://github.com/michaelaeden')
                i.fab.fa-fw.fa-github

    block scripts
        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
